<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Make service name available -->
    <springProperty scope="context"
                    name="serviceName"
                    source="spring.application.name"
                    defaultValue="shipping"/>

    <!-- Console appender with JSON -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
            </fieldNames>

            <!-- Add static fields -->
            <customFields>
                {"service":"${serviceName}"}
            </customFields>
        </encoder>
    </appender>

    <!-- Reduce Spring noise -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>